@using StoreManager.Web.Models;
@model ProductModel

@{
    ViewData["Title"] = "Product Details";
}

<h2>@Model.Name</h2>
<h3 style="color: green">Price: $@Model.Price</h3>
<p>Id:@Model.Id<p>
<p>Description: @Model.Description</p>
